.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}
.backGround{
  background-color: grey;
  background-image:linear-gradient(to right, grey , black);
}
