body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .index {
    min-height: 100vh;
    background-image: url("https://thumbs.dreamstime.com/z/abstract-message-letter-chat-icon-over-black-background-illustration-flat-design-outline-pictogram-infographic-web-app-207375849.jpg");
  }
  /* .singleChat{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-image: url("https://blog.localz.com/hubfs/background-app-chat-featured.png");
  } */
  .messagesBackground{
    background-image: url("https://i.pinimg.com/1200x/85/ec/df/85ecdf1c3611ecc9b7fa85282d9526e0.jpg");

  }
  .MychatsBackground{
    background-size:cover;
    background-image: url("https://cdn.w600.comps.canstockphoto.com/chat-application-icons-eps-vector_csp14297085.jpg");
  }
  .messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  .image-container {
    text-align: center;
    width: 100%;
    padding: 5px;
    background-color: rgb(48, 45, 45);
    margin-top: 8px;
    border-radius: 3px;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  .myimg{
    width: 50%;
  }
  